.timer {
    margin: auto;
    width: 100%;
    height: 100px;
    text-align: right;
  }
  
  .welcome {
    margin-bottom: 20px;
    text-align: center;
  }
  
  #score {
    position: fixed;
    top: 0px;
    left: 0px;
  }
  
  #quiz {
    margin: auto;
    padding: 10px;
    width: 100%;
    height: 25px;
    text-align: center;
  }

  #quiz button {
    background-color: aqua;
    color: white;
    border: 2px solid black;
    height: 100px;
    width: 100px;
  }